/* sidebar.component.css */

/* Personalización del scrollbar para navegadores Webkit (Chrome, Safari, Edge) */
.overflow-y-auto::-webkit-scrollbar {
  width: 6px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* tailwind gray-600 */
  border-radius: 10px;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* tailwind gray-400 */
}

/* Para Firefox */
.overflow-y-auto {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}